<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
           <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                  <h3>Add Course</h3>
              </div>
            <div class="card-body">
                  <form [formGroup]="insert_year" (ngSubmit)="submit()">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Year</label>
                        <input type="date" class="form-control" formControlName="lodate" id="exampleInputEmail1" aria-describedby="emailHelp" min="2022-11-12" max="2030-11-31">      
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
               </form>
             </div>
          </div>
           </div>
        </div>
    </div>
</div>


