<div class="container-fluid">
    <div class="row ">
       
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">User</h5>
                    <div class="card-body">
                      
                      <a [routerLink]="['/nav/user-form']" class="btn btn-primary">Add user</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">Course</h5>
                    <div class="card-body">
                    
                      <a [routerLink]="['/nav/course-form']" class="btn btn-primary">Add Course</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">Subject</h5>
                    <div class="card-body">
                     
                      <a [routerLink]="['/nav/subject-form']" class="btn btn-primary">Add Subject</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">Student</h5>
                    <div class="card-body">
                      
                      <a [routerLink]="['/nav/student-form']" class="btn btn-primary">Add Student</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">Year</h5>
                    <div class="card-body">
                     
                      <a  [routerLink]="['/nav/year-form']"class="btn btn-primary">Add Year</a>
                    </div>
                  </div>
            </div>
        
    </div>
</div>
