<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
           <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                  <h3>Add Student</h3>
              </div>
              <div class="card-body">
                  <form  [formGroup]="insertdata" (ngSubmit)="submit()">
                       <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">First Name</label>
                                <input type="email"  class="form-control" formControlName ="fname" aria-describedby="emailHelp">
                             </div> 
                            </div> 
                         <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label">Second Name</label>
                                    <input type="email" class="form-control" formControlName ="scname" aria-describedby="emailHelp">
                                 </div> 
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                <input type="email"  class="form-control" formControlName ="lname" aria-describedby="emailHelp">
                             </div> 
                         </div>
                     </div>
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Gender</label>
                               <select name="" formControlName ="gender" class="form-control">
                                   <option value="" selected>---Select Gender----</option>
                                   <option value="Male">Male</option>
                                   <option value="Female">Female</option>
                               </select>
                            </div> 
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Course</label>
                                
                               <select name="" formControlName ="cname" class="form-control">
                                   <option value="" selected>---Select Course----</option>
                                   <option *ngFor="let x of course" value="{{x.cname}}:" >
                                    {{x.cname}}:
                                    {{x.cdescription}}
                                   </option>
                               </select>
                               
                               
                            </div> 
                          </div>
                       
                          <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Course</label>
                                
                               <select name="" formControlName ="lodate" class="form-control">
                                   <option value="" selected>---Select Year----</option>
                                   <option *ngFor="let x of year"  value="{{x.lodate}}">
                                       {{x.lodate}}
                                   </option>
                               </select>
                               
                               
                            </div> 
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Age</label>
                                <input type="text" class="form-control" formControlName ="age" aria-describedby="emailHelp">
                             </div> 
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Phone</label>
                            <input type="phone" class="form-control" formControlName ="phone" aria-describedby="emailHelp">
                         </div> 
                       </div>
                      </div>
                     <br>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>
          </div>
           </div>
        </div>
    </div>
</div>

